@import "../../components/common/header";
@import "../../variables/variables";
.Gambier-serviceList{
  width: 100%;
  .Gambier-serviceList-container{
    width: 1200px;
    min-height: 820px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #cecece;
    .Gambier-characteristic{
      @include clearfix();
      .Gambier-characteristic-item{
        float: left;
        width: 386px;
        height: 320px;
        margin: 0 10px 20px 0;
        position: relative;
        border:1px solid #a4a3a3;
        .Gambier-characteristic-background{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .Gambier-characteristic-title{
          font-size: 26px;
          color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          display: block;
          h1{
            margin: 240px 0 0 20px;
          }
        }
        .Gambier-characteristic-mask{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.7);
          display: none;
          .Gambier-characteristic-bar{
            margin-top: 200px;
            margin-bottom: 20px;
            @include clearfix();
            h1{
              float: left;
              font-size: 26px;
              color: #fff;
              margin-left: 10px;
            }
            button{
              float: right;
              margin-right: 30px;
              width: 70px;
              height: 30px;
              line-height: 30px;
              font-size: 14px;
              a{
                line-height: 30px;
                float: left;
                width: 100%;
                height: 100%;
                font-size: 14px;;
              }
            }

          }
          .Gambier-characteristic-des{
            font-size: 18px;
            line-height: 26px;
            color: #fff;
            padding: 0 30px 0 10px;
          }

        }
      }
      .Gambier-characteristic-item:hover{
        transition: all .2s ease;
        box-shadow: 7px 7px 4px #a4a3a3;
        .Gambier-characteristic-title{
          display: none;

        }
        .Gambier-characteristic-background{
          overflow: hidden;
          img{
            transition: all .8s ease;
            transform: scale(1.1);
          }
        }
        .Gambier-characteristic-mask{
          display: block;
        }
      }
    }
    .Gambier-characteristic-pagination{
      margin: 23px auto 30px auto;
      width: 300px;
      .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
        margin: 0 13px;
        background: $greenBack;
        opacity: .5;
      }
      .swiper-pagination-bullet-active{
        opacity: 1;
      }
    }
  }
}
.Gambier-us{
  width: 100%;
  .Gambier-us-container{
    width: $width;
    height: auto;
    padding-bottom: 70px;
    margin: 0 auto;
    .Gambier-us-list{
      width: 100%;
      .Gambier-us-item{
        padding: 30px;
        border-bottom: 1px solid #cecece;
        .Gambier-us-img{
          width: 1140px;
          height: 388px;
          margin: 0 auto;
          img{
            width: 100%;
            height: 100%;

          }
        }
        .Gambier-us-title{
          font-size: 18px;
          text-transform: capitalize;
          color: #222;
          margin: 0.8em 0;
          font-weight: 600;
          text-align: center;
          font-family: 'OpenSans-Regular';
        }
        .Gambier-us-des{
          font-size: 16px;
          line-height: 32px;
          color: #777;
          text-align: center;
          width: 1130px;
          margin: 0 auto;
        }
      }
    }
  }
}
.Gambier-reason{
  width: 100%;
  background: #eee;
  .Gambier-reason-container{
    width: $width;
    margin: 0 auto;
    height: auto;
    padding: 30px 70px;
    @include clearfix();

    .Gambier-reason-list{
      width: $width;
      font-size: 1.5em;
      line-height: 1.1;
      margin: 0 auto;
      text-transform: capitalize;
      text-align: center;
      height: auto;
      @include clearfix();
      .Gambier-reason-item{
        float: left;
        width: 360px;
        height: 416px;
        color: #555;
        margin: 10px 20px;
        border: 1px solid rgb(206, 206, 206);
        .Gambier-reason-img{
          width: 100%;
          height: 200px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .Gambier-reason-title{
          font-size: 18px;
          line-height: 32px;
          margin-top: 15px;
          padding: 0 15px;
        }
        .Gambier-reason-des{
          font-size: 14px;
          line-height: 26px;
          padding:5px 15px;
        }
      }
    }
    margin-bottom: 30px;
  }
}