@charset "UTF-8";
// 无内容提示
// Created by qiangkailiang on 2016/11/03
// 功能库引入
@import "../modules/_common-modules";
// 变量入口引入
@import "../variables/_variables";
.yd-noContentTips {
    padding: rem(200px) 0;
    width: 100%;
    text-align: center;
    display: none;
    figcaption {
        margin-top: rem(24px);
        color: #808080;
        font-size: rem(15px)
    }
}
