@charset "UTF-8";
//雷达图CSS部分修饰
@import "../modules/_common-modules";
//公共变量引用
@import "../variables/_variables";

.yd-personalMessageRatio {
  padding-top: rem(67px);
  padding-bottom: rem(60px);
  margin-top: rem(8px);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  border-bottom: 1px solid #eee;

}

.yd-personalRaderItem {
  border: 1px solid #EFEFEF;
  color: #555;
  font-size: rem(12px);
  padding: rem(7px);
  display: inline-block;
  border-radius: rem(500px);
  position: absolute;
  cursor: pointer;
  width: rem(65px);
  text-align: center;
  behavior: url("/js/third-party/pie/PIE.htc");
  &:nth-last-child(1) {
    top: rem(70px);
    left: rem(195px);
  }
  &:nth-last-child(2) {
    top: rem(170px);
    left: rem(130px);
  }
  &:nth-last-child(3) {
    top: rem(310px);
    left: rem(125px);
  }
  &:nth-last-child(4) {
    top: rem(415px);
    left: rem(190px);
  }
  &:nth-last-child(5) {
    top: rem(450px);
    left: rem(350px);
  }
  &:nth-last-child(6) {
    top: rem(420px);
    left: rem(470px);
  }
  &:nth-last-child(7) {
    top: rem(300px);
    left: rem(560px);
  }
  &:nth-last-child(8) {
    top: rem(170px);
    left: rem(570px);
  }
  &:nth-last-child(9) {
    top: rem(60px);
    left: rem(470px);
  }
  &:nth-last-child(10) {
    top: rem(20px);
    left: rem(345px);
  }
}

//for IE8...
.yd-personalRaderItem01 {
  top: rem(20px);
  left: rem(345px);
}

.yd-personalRaderItem02 {
  top: rem(60px);
  left: rem(470px);
}

.yd-personalRaderItem03 {
  top: rem(170px);
  left: rem(570px);
}

.yd-personalRaderItem04 {
  top: rem(300px);
  left: rem(560px);
}

.yd-personalRaderItem05 {
  top: rem(430px);
  left: rem(510px);
}

.yd-personalRaderItem06 {
  top: rem(470px);
  left: rem(350px);

}

.yd-personalRaderItem07 {
  top: rem(425px);
  left: rem(170px);
}

.yd-personalRaderItem08 {
  top: rem(310px);
  left: rem(125px);
}

.yd-personalRaderItem09 {
  top: rem(170px);
  left: rem(130px);
}

.yd-personalRaderItem10 {
  top: rem(70px);
  left: rem(205px);
}

.yd-raderItemOnCircle {
  @include circle(rem(7px), #fff);
  border: rem(2px) solid rgba(255, 168, 0, 0.4);
  position: absolute;
  top: 50%;
  box-shadow: 0 0 rem(5px) rgba(255, 168, 0, 0.4);
  left: 50%;
  display: none;
  margin-left: .26875rem;
  margin-top: .16875rem;
}

@include query() {
  .yd-personalMessageRatio {
    & > canvas {
      transform: scale(1.2)
    }
  }
  .yd-personalRaderItem {
    border: rem(1px) solid #EFEFEF;
    color: #555;
    font-size: rem(12px);
    padding: rem(7px);
    display: inline-block;
    border-radius: rem(500px);
    position: absolute;
    cursor: pointer;
    width: rem(55px);
    text-align: center;
    &:nth-last-child(1) {
      top: rem(35px);
      left: rem(75px);
    }
    &:nth-last-child(2) {
      top: rem(95px);
      left: rem(15px);
    }
    &:nth-last-child(3) {
      top: rem(180px);
      left: rem(15px);
    }
    &:nth-last-child(4) {
      top: rem(255px);
      left: rem(50px);
    }
    &:nth-last-child(5) {
      top: rem(275px);
      left: rem(160px);
    }
    &:nth-last-child(6) {
      top: rem(255px);
      left: rem(250px);
    }
    &:nth-last-child(7) {
      top: rem(180px);
      left: rem(300px);
    }
    &:nth-last-child(8) {
      top: rem(110px);
      left: rem(300px);
    }
    &:nth-last-child(9) {
      top: rem(40px);
      left: rem(260px);
    }
    &:nth-last-child(10) {
      top: rem(10px);
      left: rem(160px);
    }
  }
}

.yd-personalRaderItem.off {
  color: #ccc;
}

.yd-personalRaderItem.on {
  color: #ffa800;
}
